.div_header {
    min-height: 7vh;
    background-color: #5fe9ca;
}

.div_main {
    background-color: #dcfcf3;

}


.img_carousel {
    width: 50rem;
    height: 30vh;
}

.cards {
    height: 10vh;
}

.card {
    width: 300px;
    height: 30vh;
    background-color: #9af5de;
}

.card-img-top {
    height: 50%;

}

.card-body {
    height: 20%;
}

.h5 {
    background-color: rgba(95, 233, 202, 0.6);
    border-radius: 50px;
    border: 1px solid green;
}

.button_card {
    background-color: #125d54;
    color: #ffffff;
}
.img {
    width: 50%;
    height: 5vh;
}


.img-logo {
    width: 30%;
}


.img_footer {
    width: 70%;
    height: 6vh;
}

.inputs {
    height: 10vh;
}

.p {
    color: #107566;
    font-size: 0.7rem;
}

.arrow {
    font-size: 2.5rem;
    color: #0d554e;
}

.div_footer {
    background-color: #5fe9ca;
    max-height: 15vh;
}

@media only screen and (min-width: 579px) {
    .arrow {
        display: none;
    }

    .img-logo {
        width: 10%;
    }
}




@media only screen and (min-width: 577px) {
    .layout {
    display: flex;
    align-items: center;
    background-color: #ecf7f4;
    }
}


@media only screen and (min-width: 768px) {
    .div_footer {
        height: 12vh;
    }


}