.div_header {
    min-height: 7vh;
    background-color: #5fe9ca;
}

.div_main {
    background-color: #dcfcf3;
}

.img_carousel {
    width: 50rem;
    height: 30vh;
}

.card {
    background-color: #9af5de;
    border: 2px solid #125d54;
    border-radius: 25px;
    height:18rem;
}

.card-img-top {
    margin-top: 10px;
    height: 45%;
    border-radius: 25px;
    align-items: center;
}

.card-img {
    width: 120%;
    height: 20vh;
    align-self: center;
    border-radius: 15px 15px 0 0 ;
}

.tarjeta {
    display: flex;
    flex-direction: column;
    width: 150px;
    background-color: rgba(95, 233, 202, 0.6);
    border: 1px solid green;
    border-radius: 15px;

}


.card-body {
    display: flex;
    flex-direction: column;
}

.card-body {
    height: 20%;
}


.h5 {
    background-color: rgba(95, 233, 202, 0.6);
    border-radius: 50px;
    border: 1px solid green;
    width: 100%;
}

.button_card {
    background-color: #125d54;
    color: #ffffff;
    margin-bottom: 20px;
}
.img {
    width: 50%;
    height: 5vh;
}


.img-logo {
    width: 30%;
}

.card-text {
    font-size: 0.8rem;
}

.img_footer {
    width: 70%;
    height: 4vh;
}

.card_det {
    max-width: 540px;
    height: 250px;
}

.p {
    color: #107566;
    font-size: 0.7rem;
    margin: 6px;
}


th {
    background-color: black;
    border: 2px solid black;
    border-collapse: collapse;
}

tr, td {
    border-collapse: collapse;
    border: 2px solid black;
}

.btn {
    align-self: center;
}

.arrow {
    font-size: 2.5rem;
    color: #0d554e;
}

.navbar-bar {
    height: 8vh;
}

.div_footer {
    background-color: #5fe9ca;
    max-height: 30vh;
}

@media only screen and (min-width: 579px) {
    .arrow {
        display: none;
    }

    .img-logo {
        width: 10%;
    }
}

@media only screen and (min-width: 577px) {
    .layout {
        display: flex;
        align-items: center;
        background-color: #ecf7f4;
    }
}

@media only screen and (min-width: 768px) {
    .div_footer {
        height: 12vh;
    }

    .card {
        height:20rem;
    }
}

@media only screen and (min-width: 1000px) {
    .card {
        height:25rem;
    }
}

